@{
    Layout = "../Shared/_Layout.cshtml";
}

@* Change model to IEnumerable<model> *@
@model IEnumerable<Employee>

@section Scripts {
    @* DATATABLE scripts implementation *@
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>

        // datatable
        $(document).ready(function () {
            var oTable =
                $('#datatable').DataTable({
                     "pageLength": 50,
                    "lengthChange": false,
                    "sDom": 'ltipr',
                    initComplete: function () {
                        this.api().columns([2, 3]).every(function () { // columns([2, 3]) this line states which column of the datatable you want to add filter to (Index start at 0) *Need change in other pages
                            var column = this;

                            // bind dropdown filter of datatable to searchbar dropdowns
                            var $dropdownId = null;
                            if (column[0] == 2) {
                                $dropdownId = $('.departmentColumn');
                            } else if (column[0] == 3) {
                                $dropdownId = $('.rightsColumn');
                            }
                            // end of binding

                            var select = $('<select><option value=""></option></select>')
                                .appendTo($dropdownId)
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                }).addClass("form-control");

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        });
                    }
                });

            // bind datatable search function to searchbar
            $('#employeeName').keyup(function () {
                oTable.search($(this).val()).draw();
            });
            // end of binding

        });// end of document

        function edit(id) {
            location.href = "/User/EditUser/" + id.substr(1);
        }

        function changePassword(id) {
            location.href = "/User/ChangePassword/" + id;
        }

        function addUser() {
            location.href = "/User/AddUser/";
        }

        function viewDeletedUser() {
            location.href = "/User/ManageDeletedUser";
        }



        var display = true;
        function show() {
            if (display) {
                $("#advSearch").hide();
                display = false;
            } else {
                $("#advSearch").show();
                display = true;
            }
        }

    </script>

}

@section CSS {
    <link rel="stylesheet" href="~/styles/manageuser.css">
}


<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Users</p>
    </div>
    <div class="view-buttons">
        <button class="view-details" type="button">
            View User Details
        </button>
        <button onclick="viewDeletedUser()" class="view-deleted" type="button">
            View Deleted Users
        </button>

    </div>
    <hr class="divider">
    <div class="search-bar">
        <div class="input-field-search">
            <img src="../images/search.png" alt="Magnifying Glass logo">
            <input id="employeeName" type='text' name='employeeName' size='15' placeholder='Search by Employee Name...' />
        </div>


        <div class="input-field-search2">
            <input onclick="show()" type="image" id="plus" src="../images/plus.png" name="plus" alt="Plus Button">
            <label for="plus">Advanced Search</label>
        </div>

        <div class="new-user-button">
            <button onclick="addUser()" class="orange-background" name="Add">Add new user</button>
        </div>
    </div>

    <div id="advSearch" class="search-fields">
        <div class="first-row">
            <div class="departmentColumn" id="departmentColumn">
                <label for="department">Department:</label>
                @*remove select tag here as datatable will create and populate it automatically*@
            </div>
        </div>
        <div class="second-row">
            <div class="rightsColumn" id="rightsColumn">
                <label for="rights">Access Rights:</label>
                @*remove select tag here as datatable will create and populate it automatically*@
            </div>
        </div>
    </div>
    <table id="datatable" class="table table-bordered">
        <thead class="blue-background">
            <tr>
                <th>Employee ID</th>
                <th>Employee</th>
                <th>Department</th>
                <th>Access</th>
                <th>Account</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roles)
                    </td>
                    <td>
                        @if (item.IsDisabled == "true")
                        {
                            <span>Inactive</span>
                        }
                        else
                        {
                            <span>Active</span>
                        }


                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="edit('A' + @item.EmployeeId)">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="changePassword(@item.EmployeeId)">Change Password</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>





<!-- //     let show = true;
//     function showBG() {
//         show = !show;
//         if (show) {
//             document.getElementsByClassName("black-overlay")[0].style.display = "block";
//             document.getElementsByClassName("left-section")[0].style.display = "block";

//         } else {
//             document.getElementsByClassName("black-overlay")[0].style.display = "none";
//             document.getElementsByClassName("left-section")[0].style.display = "none";
//         }
//     }
//  -->
