@{
    Layout = "../Shared/_Layout.cshtml";
}

@model IEnumerable<AdminPortal.Models.Employee>

@section Scripts {

}

@section CSS {
    <link rel="stylesheet" href="~/styles/manageuser.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Users</p>
    </div>
    <div class="view-buttons">
        <button class="view-details" type="button">
            View User Details
        </button>
        <button class="view-deleted" type="button">
            View Deleted Users
        </button>

    </div>
    <hr class="divider">
    <form>
        <div class="search-bar">
            <div class="input-field-search">
                <img src="../images/search.png" alt="Magnifying Glass logo">
                <input type='text' name='employeeName' size='15' placeholder='Search by Employee Name...' />
            </div>


            <div class="input-field-search2">
                <input type="image" id="plus" src="../images/plus.png" name="plus" alt="Plus Button">
                <label for="plus">Advanced Search</label>
            </div>

            <div class="new-user-button">
                <button class="orange-background" name="Add">Add new user</button>
            </div>
        </div>

        <div id="advSearch" class="search-fields">
            <div class="first-row">
                <div class="employeeColumn">
                    <label for="employeeID">Employee ID:</label>
                    <input type="text" name="employeeID" size='15' placeholder='Search by Employee ID...'>
                </div>
                <div class="departmentColumn">
                    <label for="department">Department:</label>
                    <select class="form-control" id="department">
                        <option>Information Technology</option>
                        <option>Human Resource</option>
                        <option>Engineering</option>
                        <option>Finance</option>
                    </select>
                </div>
            </div>
            <div class="second-row">
                <div class="rightsColumn">
                    <label for="rights">Access Rights:</label>
                    <select class="form-control" id="rights">
                        <option>Admin</option>
                        <option>Department Head</option>
                        <option>Employee</option>
                    </select>
                </div>
                <div class="statusColumn">
                    <label for="status">Account Status:</label>
                    <select class="form-control" id="status">
                        <option>Active</option>
                        <option>Inactive</option>
                    </select>
                </div>
            </div>
            <div class="button-row">
                <button class="searchButton orange-background">
                    Search
                </button>
            </div>
        </div>
    </form>
    <table id="datatable" class="table table-bordered">
        <thead class="blue-background">
            <tr>
                <th>Employee ID</th>
                <th>Employee</th>
                <th>Department</th>
                <th>Access</th>
                <th>Account</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roles)
        </td>
        <td>
            @if (item.IsDisabled == "true")
            {
                <span>Inactive</span>
            } else
            {
                <span>Active</span>
            }
   
            
        </td>
        <td>
            <button onclick="edit(@item.EmployeeId)">Edit</button>
        </td>
        <td>
            <button onclick="changePassword(@item.EmployeeId)">Change Password</button>
        </td>
    </tr>
        }
    </table>
</div>
<script>
    $(document).ready(function () {
        display = true;
        $("#plus").click(function () {
            if (display) {
                $("#advSearch").hide();
                display = false;
            } else {
                display = true;
                $("#advSearch").show();
            }
        });
    })

    function edit(id) {
       location.href = "/User/EditUser/" + id;
    } 

    function changePassword(id){
        location.href = "/User/ChangePassword/" + id;
    }
</script>





<!-- //     let show = true;
//     function showBG() {
//         show = !show;
//         if (show) {
//             document.getElementsByClassName("black-overlay")[0].style.display = "block";
//             document.getElementsByClassName("left-section")[0].style.display = "block";

//         } else {
//             document.getElementsByClassName("black-overlay")[0].style.display = "none";
//             document.getElementsByClassName("left-section")[0].style.display = "none";
//         }
//     }
//  -->
