@{
    Layout = "../Shared/_Layout.cshtml";
}

@model PaginatedList<AdminPortal.Models.Employee>

@section Scripts {
    <script>
        function edit(id) {
            location.href = "/User/EditUser/" + id;
        }

        function changePassword(id) {
            location.href = "/User/ChangePassword/" + id;
        }

        function addUser() {
            location.href = "/User/AddUser/";
        }

        var display = true;
        function show() {
            if (display) {
                $("#advSearch").hide();
                display = false;
            } else {
                $("#advSearch").show();
                display = true;
            }
        }

        function loadDepartments() {
            var url = "https://localhost:44300/api/v1/departments"
            var $loadhandler = jQuery.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            });
            $loadhandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                $.each(data, function (key, obj) {
                    //console.log(key)
                    console.log(obj)
                    console.log(obj.departmentName)
                    $("#department").append($("<option></option>")
                        .attr("value", obj.departmentId)
                        .text(obj.departmentName));
                });
            });

        }
        loadDepartments();


          function loadRoles() {
            var url = "https://localhost:44300/api/v1/roles"
            var $loadhandler = jQuery.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            });
            $loadhandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                $.each(data, function (key, obj) {
                    //console.log(key)
                    console.log(obj)
                    console.log(obj.roleName)
                    $("#rights").append($("<option></option>")
                        .attr("value", obj.roleId)
                        .text(obj.roleName));
                });
            });

        }
        loadRoles();

        function filter() {
            var value = $("#employeeName").val().toLowerCase();
            $("#datatable tbody tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        }

        //Using a function technique to define a JavaScript class, WebFormData
        function WebFormData(inCollectedEmployeeName, inCollectedEmployeeId, inCollectedDepartment, inCollectedRole, inCollectedStatus) {
            this.employeeName = inCollectedEmployeeName;
            this.employeeId = inCollectedEmployeeId,
            this.department = inCollectedDepartment;
            this.roles = inCollectedRole;
            this.isDisabled = inCollectedStatus;
        }

        function search() {
            var employeeID = $("#employeeID").val();
            var employeeName = $("#employeeName").val();
            var department = $("#department").val();
            var rights = $("#rights").val();
            var status = $("#status").val();

            var url = "/User/Search"
            var data = WebFormData(employeeName, employeeID, department, rights, status);

            var $loadhandler = jQuery.ajax({
                type: 'POST',
                url: url,
                data: data,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            });
            $loadhandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                $.each(data, function (key, obj) {
                    //console.log(key)
                    console.log(obj)
                    console.log(obj[0].employeeName)
                    $("#datatable tbody tr").remove()
                    $("#datatable tbody tr").append(
                        $('<td>').text(obj[0].employeeID),
                        $('<td>').text(obj[0].employeeName),
                        $('<td>').text(obj[0].departmentName),
                        $('<td>').text(obj[0].roleName),
                        $('<td>').text(obj[0].status)
                    );

                });
            });
        }
    </script>

}

@section CSS {
    <link rel="stylesheet" href="~/styles/manageuser.css">
}


<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Users</p>
    </div>
    <div class="view-buttons">
        <button class="view-details" type="button">
            View User Details
        </button>
        <button class="view-deleted" type="button">
            View Deleted Users
        </button>

    </div>
    <hr class="divider">
    <div class="search-bar">
        <div class="input-field-search">
            <img src="../images/search.png" alt="Magnifying Glass logo">
            <input onkeyup="filter()" id="employeeName" type='text' name='employeeName' size='15' placeholder='Search by Employee Name...' />
        </div>


        <div class="input-field-search2">
            <input onclick="show()" type="image" id="plus" src="../images/plus.png" name="plus" alt="Plus Button">
            <label for="plus">Advanced Search</label>
        </div>

        <div class="new-user-button">
            <button onclick="addUser()" class="orange-background" name="Add">Add new user</button>
        </div>
    </div>

    <div id="advSearch" class="search-fields">
        <div class="first-row">
            <div class="employeeColumn">
                <label for="employeeID">Employee ID:</label>
                <input id="employeeID" type="text" name="employeeID" size='15' placeholder='Search by Employee ID...'>
            </div>
            <div class="departmentColumn">
                <label for="department">Department:</label>
                <select class="form-control" id="department">
                </select>
            </div>
        </div>
        <div class="second-row">
            <div class="rightsColumn">
                <label for="rights">Access Rights:</label>
                <select class="form-control" id="rights">
                </select>
            </div>
            <div class="statusColumn">
                <label for="status">Account Status:</label>
                <select class="form-control" id="status">
                    <option value="false">Active</option>
                    <option value="true">Inactive</option>
                </select>
            </div>
        </div>
        <div class="button-row">
            <button onclick="search()" class="searchButton orange-background">
                Search
            </button>
        </div>
    </div>
    <table id="datatable" class="table table-bordered">
        <thead class="blue-background">
            <tr>
                <th>Employee ID</th>
                <th>Employee</th>
                <th>Department</th>
                <th>Access</th>
                <th>Account</th>
                <th>Actions</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roles)
                    </td>
                    <td>
                        @if (item.IsDisabled == "true")
                        {
                            <span>Inactive</span>
                        }
                        else
                        {
                            <span>Active</span>
                        }


                    </td>
                    <td>
                        <button onclick="edit(@item.EmployeeId)">Edit</button>
                    </td>
                    <td>
                        <button onclick="changePassword(@item.EmployeeId)">Change Password</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <nav aria-label="Pagination" class="col-12">
        <ul class="pagination justify-content-end">
            <li class="page-item @prevDisabled">
                <a class="page-link"
                   asp-route-pageIndex="@(Model.PageIndex - 1)"
                   asp-controller="User"
                   asp-action="SetPage"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @foreach (var i in Model.PageIndexesToDisplay)
            {
                var activeClass = i.IsActive ? "active" : "";

                <li class="page-item @activeClass">
                    <a class="page-link"
                       asp-route-pageIndex="@(i.Index)"
                   asp-controller="User"
                         asp-action="SetPage"
                       >@i.Index</a>
                </li>
            }
            <li class="page-item @nextDisabled">
                <a class="page-link"
                   asp-route-pageIndex="@(Model.PageIndex + 1)"
                   asp-controller="User"
                   asp-action="SetPage"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>





<!-- //     let show = true;
//     function showBG() {
//         show = !show;
//         if (show) {
//             document.getElementsByClassName("black-overlay")[0].style.display = "block";
//             document.getElementsByClassName("left-section")[0].style.display = "block";

//         } else {
//             document.getElementsByClassName("black-overlay")[0].style.display = "none";
//             document.getElementsByClassName("left-section")[0].style.display = "none";
//         }
//     }
//  -->
