@{
    Layout = "../Shared/_Layout.cshtml";
}

@model IEnumerable<Event>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>

           function edit(id) {
            location.href = "/Event/EditEvent/" + id;
        }

        function add() {
            location.href = "/Event/AddEvent/";
        }

        // datatable
        $(document).ready(function () {
            var oTable =
                $('#datatable').DataTable({
                    "pageLength": 4,
                    "lengthChange": false,
                    "sDom": 'ltipr'
                });

            // bind datatable search function to searchbar
            $('#eventName').keyup(function () {
                oTable.search($(this).val()).draw();
            });

            $.fn.dataTableExt.afnFiltering.push(
                function( settings, data, dataIndex ) {
                    var min = moment($('#startDate').val()).format("DD/M/YYYY");
                    var max = moment($('#endDate').val()).format("DD/M/YYYY");

                    var column_startDate = data[1] || 1; // Our date column in the table
                    column_startDate = column_startDate.split(/,?\s+/)[0];

                    var column_endDate = data[2] || 2; // Our date column in the table
                    column_endDate = column_endDate.split(/,?\s+/)[0];

                    var startDate   = moment(min, "DD/M/YYYY");
                    var endDate = moment(max, "DD/M/YYYY");

                    var orig_startDate = moment(column_startDate, "DD/M/YYYY");
                    var orig_endDate = moment(column_endDate, "DD/M/YYYY");

                    console.log(startDate);
                    console.log(endDate);
                    console.log(orig_startDate);
                    if (startDate.diff(endDate) > 0) { return false } // if start date is later than end date, return false
                    if ((min == "" || max == "") ||
                        (orig_startDate.isBetween(startDate, endDate)) ||
                        (orig_endDate.isBetween(startDate, endDate)) ||
                        (startDate.isBetween(orig_startDate, orig_endDate)) ||
                        (endDate.isBetween(orig_startDate, orig_endDate)) ||
                        (startDate.isSame(orig_startDate)) ||
                        (endDate.isSame(orig_startDate)) ||
                        (startDate.isSame(orig_endDate)) ||
                        (endDate.isSame(orig_endDate))
                    ){
                        return true;
                    }
                    return false;

                }
            );

            //// Event listener to the two range filtering inputs to redraw on input
            $('#startDate, #endDate').change(function () {
                oTable.draw();
            });
        });
     
            var display = true;
            function show() {
                if (display) {
                    $("#advSearch").hide();
                    display = false;
                } else {
                    $("#advSearch").show();
                    display = true;
                }
            }

    </script>

}

@section CSS {
    <link rel="stylesheet" href="~/styles/manageevents.css">
}


<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Events</p>
    </div>

    <hr class="divider">

    <div class="search-bar">
        <div class="input-field-search">
            <img src="../images/search.png" alt="Magnifying Glass logo">
            <input type='text' name='eventName' size='15' placeholder='Search by Event Name...' id="eventName" />
        </div>


        <div class="input-field-search2">
            <input onclick="show()" type="image" src="../images/plus.png" name="plus" alt="Plus Button">
            <label for="plus">Advanced Search</label>
        </div>

        <div class="new-event-button">
            <button onclick="add()" class="orange-background" name="Add">Add new event</button>
        </div>
    </div>

    <div id="advSearch" class="search-fields">
        <div class="first-row">
            <div class="startDateColumn">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" name="startDate" id="startDate">
            </div>
        </div>
        <div class="second-row">
            <div class="endDateColumn">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" name="endDate" id="endDate">
            </div>

        </div>
    </div>

    <table id="datatable" class="table table-bordered">
        <thead class="blue-background">
            <tr>
                <th>Event Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Number of Departments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDateTime)
                    </td>
                    <td>
                        @(item.DepartmentName.Split(",").Length)
                    </td>

                    <td>
                        <button onclick="edit(@item.EventId)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>