
@{
    Layout = "../Shared/_Layout.cshtml";
}

@model IEnumerable<Milestone>

@section Scripts{
    @* DATATABLE scripts implementation *@
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>

            // datatable
        $(document).ready(function () {
            var oTable =
                $('#datatable').DataTable({
                     "pageLength": 4,
                    "lengthChange": false,
                    "sDom": 'ltipr',
                });

            // bind datatable search function to searchbar
            $('#reward').keyup(function () {
                oTable.search($(this).val()).draw();
            });
            // end of binding

        });// end of document

        function edit(id) {
            location.href = "/Milestone/EditDeletedReward/" + id;
        }

        function add() {
            location.href = "/Milestone/AddReward/";
        }

        function view() {
               location.href = "/Milestone/ManageMilestones";
        }

         function viewDeleted() {
            location.href = "/Milestone/ManageDeletedMilestones";
        }
    </script>
}

@section CSS {
    <link rel="stylesheet" href="~/styles/managemilestones.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Deleted Milestones</p>
    </div>
    <div class="view-buttons">
        <button onclick="view()" class="view-details" type="button">
            View Reward Details
        </button>
        <button onclick="viewDeleted()" class="view-deleted" type="button">
            View Deleted Reward
        </button>

    </div>
    <hr class="divider">

    <div class="search-bar">
        <div class="input-field-search">
            <img src="../images/search.png" alt="Magnifying Glass logo">
            <input id="reward" type='text' name='reward' size='15' placeholder='Search by Reward Name...' />
        </div>

    </div>
    <table id="datatable" class="table table-bordered">
        <thead class="blue-background">
            <tr>
                <th>ID</th>
                <th>Reward</th>
                <th>Points Needed</th>
                <th>CreatedBy</th>
                <th>Last Update</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RewardId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reward)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Points)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="edit(@item.RewardId)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
