@{
    Layout = "../Shared/_Layout.cshtml";
}

@model IEnumerable<Question>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>
            // datatable
        $(document).ready(function () {
            var oTable =
                $('#datatable').DataTable({
                    "pageLength": 4,
                    "lengthChange": false,
                    "sDom": 'ltipr'
                });

            // bind datatable search function to searchbar
            $('#questionName').keyup(function () {
                oTable.search($(this).val()).draw();
            });
        });


        // default game id for dropdown
        var gameId = 1;


        function edit(questionId) {
            location.href = "/Game/EditDeletedQuestion/?gameid=" + gameId + "&questionid=" + questionId;
        }


        function view() {
            location.href = "/Game/ManageGames";
        }

        //when user select a different game for dropdown
        $("#games").change(function () {
            gameId = $(this).find(':selected').val();
        });


        function loadGames() {
            var url = "https://localhost:44300/api/v1/games"
            var $loadhandler = jQuery.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            });
            $loadhandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                $.each(data, function (key, obj) {
                    //console.log(key)
                    console.log(obj)
                    console.log(obj.gameName)
                    $("#games").append($("<option></option>")
                        .attr("value", obj.gameId)
                        .text(obj.gameName));
                });
            });

        }
        loadGames();

    </script>

}

@section CSS {
    <link rel="stylesheet" href="~/styles/managegames.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Deleted Games</p>
    </div>
    <div class="view-buttons">
        <button onclick="view()" class="view-details" type="button">
            View Game Details
        </button>
        <button class="view-deleted" type="button">
            View Deleted Details
        </button>

    </div>
    <hr class="divider">

    <div class="selection-bar">
        <div class="input-field-search">
            <img src="../images/search.png" alt="Magnifying Glass logo">
            <input type='text' name='questionName' size='15' placeholder='Search by Question Name...' id="questionName" />
        </div>

        <div class="left-selection">
            <label for="games">Select a game</label>
            <select class="form-control" id="games">
            </select>
        </div>
    </div>
    <table id="datatable" class="table table-bordered">
        <thead class="blue-background">
            <tr>
                <th>Question</th>
                <th>Choice 1</th>
                <th>Choice 2</th>
                <th>Choice 3</th>
                <th>Choice 4</th>
                <th>Answer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question1)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Choices.ElementAt(0).Choice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Choices.ElementAt(1).Choice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Choices.ElementAt(2).Choice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Choices.ElementAt(3).Choice)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer)
                    </td>

                    <td>
                        <button onclick="edit(@item.QuestionId)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>