@{
    Layout = "../Shared/_Layout.cshtml";
}

@model IEnumerable<Question>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script>
            // datatable
        $(document).ready(function () {
            var oTable =
                $('#datatable').DataTable({
                    "pageLength": 4,
                    "lengthChange": false,
                    "sDom": 'ltipr'
                });

            // bind datatable search function to searchbar
            $('#questionName').keyup(function () {
                oTable.search($(this).val()).draw();
            });

          
        });
        // default game id for dropdown
        var gameId = 1;


        function edit(questionId) {
            location.href = "/Game/EditQuestion/?gameid=" + gameId + "&questionid=" + questionId;
        }

        function add() {
            location.href = "/Game/AddQuestion/" + gameId;
        }

        function viewDeleted() {
            location.href = "/Game/ManageDeletedGames";
        }

        //when user select a different game for dropdown
        $("#games").change(function () {
            gameId = $(this).find(':selected').val();
            console.log("game id: " + gameId);
            //var datatable = $("#datatable").DataTable();
            if (gameId == 1) {
                var url = "/Game/LoadGuessTheEmployeeQuiz";
                var $loadhandler1 = jQuery.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'json',
                    cache: false,
                });
                $loadhandler1.done(function (data, textStatus, jqXHR) {
                    console.log("RETURNED DATA" + data);
                    // if data is empty, show alert message
                    if (data == "") {
                        console.log("empty");
                        var alert_message = "No search result found";
                        $tableBodyElement = $('#datatable');
                        $rowElement = $('<tr></tr>');
                        $cellElement = $('<td></td>', { text: alert_message }).attr("colspan", 7);
                        $rowElement.append($cellElement);
                        $tableBodyElement.append($rowElement);
                    }
                    // once I get my data, I need to paginate
                    // vars for table
                    $tableBodyElement = $('#datatable');
                    var game = data;
                    var question = '';
                    var choices = '';
                    var choice1 = '';
                    var choice2 = '';
                    var choice3 = '';
                    var choice4 = '';
                    var answer = '';
                    var questionId = '';
                    console.log("LENGTH = " + game.length)
                    // repopulate datatable
                    for (i = 0; i < game.length; i++) {
                        console.log("loop counter = " + i)
                        myList = game[i];
                        choices = myList.choices;
                        question = myList.question1;
                        choice1 = choices[0].choice;
                        choice2 = choices[1].choice;
                        choice3 = choices[2].choice;
                        choice4 = choices[3].choice;
                        answer = myList.answer;
                        questionId = myList.questionId;

                        console.log(question);
                        console.log(choice1);
                        console.log(choice2);
                        console.log(choice3);
                        console.log(choice4);
                        console.log(answer);
                        console.log(questionId);

                        $rowElement = $('<tr></tr>');
                        $cellElement = $('<td></td>', { text: question });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: choice1 });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: choice2 });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: choice3 });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: choice4 });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: answer });
                        $rowElement.append($cellElement);
                        $hyperLinkElement = $('<button>Edit</button>');
                        $hyperLinkElement.onclick = function () { edit(questionId) }
                        $hyperLinkElement.addClass('btn btn-primary');
                        $cellElement = $('<td></td>');
                        $cellElement.append($hyperLinkElement);
                        $rowElement.append($cellElement);
                        $tableBodyElement.append($rowElement);
                    }
                });
            }
            if (gameId == 2) {
                var url = "/Game/LoadCompanyQuiz"
                var $loadhandler = jQuery.ajax({
                    url: url,
                    method: 'GET',
                    dataType: 'json',
                    cache: false,
                });
                $loadhandler.done(function (data, textStatus, jqXHR) {
                    console.log("RETURNED DATA" + data);
                    // if data is empty, show alert message
                    if (data == "") {
                        console.log("empty");
                        var alert_message = "No search result found";
                        $tableBodyElement = $('#datatable');
                        $rowElement = $('<tr></tr>');
                        $cellElement = $('<td></td>', { text: alert_message }).attr("colspan", 7);
                        $rowElement.append($cellElement);
                        $tableBodyElement.append($rowElement);
                    }
                    // once I get my data, I need to paginate
                    // vars for table
                    $tableBodyElement = $('#datatable');
                    var game = data;
                    var question = '';
                    var choices = '';
                    var choice1 = '';
                    var choice2 = '';
                    var choice3 = '';
                    var choice4 = '';
                    var answer = '';
                    var questionId = '';
                    console.log("LENGTH = " + game.length)
                    // repopulate datatable
                    for (i = 0; i < game.length; i++) {
                        console.log("loop counter = " + i)
                        myList = game[i];
                        choices = myList.choices;
                        question = myList.question1;
                        choice1 = choices[0].choice;
                        choice2 = choices[1].choice;
                        choice3 = choices[2].choice;
                        choice4 = choices[3].choice;
                        answer = myList.answer;
                        questionId = myList.questionId;

                        console.log(question);
                        console.log(choice1);
                        console.log(choice2);
                        console.log(choice3);
                        console.log(choice4);
                        console.log(answer);
                        console.log(questionId);

                        $rowElement = $('<tr></tr>');
                        $cellElement = $('<td></td>', { text: question });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: choice1 });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: choice2 });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: choice3 });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: choice4 });
                        $rowElement.append($cellElement);
                        $cellElement = $('<td></td>', { text: answer });
                        $rowElement.append($cellElement);
                        $hyperLinkElement = $('<button>Edit</button>');
                        $hyperLinkElement.onclick = function () { edit(questionId) }
                        $hyperLinkElement.addClass('btn btn-primary');
                        $cellElement = $('<td></td>');
                        $cellElement.append($hyperLinkElement);
                        $rowElement.append($cellElement);
                        $tableBodyElement.append($rowElement);
                    }
                });
            }
        });


        function loadGames() {
            var url = "https://localhost:44300/api/v1/games"
            var $loadhandler = jQuery.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json",
                dataType: 'json',
                crossDomain: true,
            });
            $loadhandler.done(function (data, textStatus, jqXHR) {
                console.log(data);
                $.each(data, function (key, obj) {
                    //console.log(key)
                    console.log(obj)
                    console.log(obj.gameName)
                    $("#games").append($("<option></option>")
                        .attr("value", obj.gameId)
                        .text(obj.gameName));
                });
            });

        }
        loadGames();

    </script>

}

@section CSS {
    <link rel="stylesheet" href="~/styles/managegames.css">
}

<div class="right-section white-background">
    <div class="title">
        <p class="title-control">Manage Games</p>
    </div>
    <div class="view-buttons">
        <button class="view-details" type="button">
            View Game Details
        </button>
        <button onclick="viewDeleted()" class="view-deleted" type="button">
            View Deleted Details
        </button>

    </div>
    <hr class="divider">

    <div class="selection-bar">
        <div class="input-field-search">
            <img src="../images/search.png" alt="Magnifying Glass logo">
            <input type='text' name='questionName' size='15' placeholder='Search by Question Name...' id="questionName" />
        </div>

        <div class="left-selection">
            <label for="games">Select a game</label>
            <select class="form-control" id="games">
            </select>
        </div>

        <div class="new-game-button">
            <button class="orange-background" name="Add" onclick="add()">Add new question</button>
        </div>
    </div>
    <table id="datatable" class="table table-bordered">
        <thead class="blue-background">
            <tr>
                <th>Question</th>
                <th>Choice 1</th>
                <th>Choice 2</th>
                <th>Choice 3</th>
                <th>Choice 4</th>
                <th>Answer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question1)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Choices.ElementAt(0).Choice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Choices.ElementAt(1).Choice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Choices.ElementAt(2).Choice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Choices.ElementAt(3).Choice)
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Answer)
                    </td>

                    <td>
                        <button onclick="edit(@item.QuestionId)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>